# Ignore Python cache
__pycache__/
*.pyc

# Ignore l'environnement virtuel
.venv/

# Ignore les fichiers secrets
client_secret.json
token.pickle
Build / caches
*.log
*.tmp
*.cache/
.env
.venv-desktop/
PROJET_DESKTOP_RESUME.md
